.chatHolder {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: lightblue;
    border-width: medium;
    border-style: double;
}

.chat {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.chat ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    border-radius: 0.2em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px rgb(255, 255, 255) inset;
    margin-bottom: 5px;
    padding: 15px;
    width: 80%;
}

.chat .odd {
    float: left;
    background: rgb(236, 236, 236);
}
.chat .even {
    float: right;
    background: rgb(166, 230, 255);
}