<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>..:: Korea Summer School 2015 - Chat ::..</title>
    <script src="/js/jquery-1.11.3.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<link rel="stylesheet" href="/js/jquery-ui-1.11.4.custom/jquery-ui.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/datejs/date.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper" style="height: 100%;">
<div id="header">
    <img src="/images/knu_logo.jpg" style="position: absolute; top: 5px; left: 10px; height: 80px;" />
    <img src="/profileImage" class="img-circle" style="position: absolute; top: 5px; right: 10px; height: 80px;" />
    <div style="position: absolute; text-align: right; right: 100px; top: 10px; z-index: 2000;">
        <b>{{name}}</b> <small>({{username}})</small> <br />
        <a data-toggle="modal" data-target="#modalProfile"><small>Update profile picture</small></a> <br />
        <a href="/logout"><small>Logout</small></a> <br />
        <div id="interests" class="btn-group" role="group" aria-label="..."></div>
    </div>
    <div style="position: absolute; top: 80px; width: 100%;">
        <hr>
    </div>
</div>


<div id="content">
<div style="  position: absolute; top: 110px; width: 100%;">
    <ul id="chatTabs" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#" data-tab="publicTab">Public</a></li>
        <li role="presentation"><a href="#" data-tab="privateTab">Private</a></li>
    </ul>
</div>


<div id="publicTab" style="width: 100%; position: absolute; top: 160px; left: 10px; padding-right: 20px;">
    Selected category: <div id="categories" class="btn-group" role="group" aria-label="..."></div>

    <div id="publicChatHolder" class="chatHolder" style="position: relative; top: 5px;">
        <div id="publicChat" class="chat">
            <ul>
            </ul>
        </div>
    </div>

    <form id="publicForm" style="position: relative; top: 10px; left: 0px;">
        <div class="row">
            <div class="col-lg-6" style="position: relative;">
                <div class="input-group">
                    <input id="publicMessageText" name="content" type="text" class="form-control" placeholder="Public message ..." required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Post</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="privateTab" style="width: 100%; position: absolute; top: 160px; left: 10px; padding-right: 20px;">
    <div id="privateChatHolder" class="chatHolder">
        <div id="privateChat" class="chat">
            <ul>
            </ul>
        </div>
    </div>

    <form id="privateForm" style="position: relative; top: 10px; left: 0px;">
        <div class="row">
            <div class="col-lg-6">
                <select id="privateUsersList" name="toUser" class="form-control" style="width: 250px;"></select>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input id="privateMessageText" name="content" type="text" class="form-control" placeholder="Private message ..." required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Post</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
</div>


<div id="footer" style=" width:100%; height: 15px; position: absolute; bottom: 15px; left: 0px; z-index: 1000;">
    <div style="width: 100%; position: absolute; bottom: 0px;">
        <hr />
    </div>
    <div style="text-align: right; right: 25px;">
        <small><a href="http://zitnik.si">dr. Slavko Žitnik</a>, &copy; 2015 <a href="http://www.fri.uni-lj.si">University of Ljubljana, Faculty for computer and information science</a></small> <br />
    </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalProfile" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update your profile picture ...</h4>
            </div>
            <div class="modal-body">
                <form action="/profileImage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileToUpload">Picture</label>
                        <input type="file" name="file" id="fileToUpload">
                    </div>
                    <button class="btn btn-default" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<script>
    $(document).ready(function(){
        var selectedCategoryId = -1;
        var currentPublicMessageId = -1;
        var currentPrivateMessageId = -1;
        var lastKnownUserId = -1;
        var loggedUserId = -1;
        var chatRefreshTime = 2000;
        var usersRefreshTime = 5000;
        var publicRefreshInterval = null;
        var privateRefreshInterval = null;
        var usersRefreshInterval = null;

        $.ajax({
            url: "/loggedUserId",
            async: false,
            success: function(data) {
                loggedUserId = data;
            }
        });

        //HELPER FUNCTIONS:
        function getUserLabel(idUser) {
            var retVal = "";

            $.ajax({
                url: "/user/" + idUser,
                async: false,
                success: function(data) {
                    retVal = data.firstName + " " + data.lastName + " <small>(" + data.username + ")</small>";
                }
            });

            return retVal;
        }

        function getUserLabel1(fromUser, toUser) {
            return getUserLabel(fromUser) + " -> " + getUserLabel(toUser);
        }

        //GENERAL SITE FUNCTIONS:
        $("#privateTab").hide();
        $('#chatTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            $("#publicTab").hide();
            $("#privateTab").hide();
            $("#" + $(this).data("tab")).show("clip", 500);
        })

        $.getJSON( "/interests", function( data ) {
            //create category buttons
            $.each(data, function(i, item) {
                var button = $('<button type="button" style="padding: 4px; font-size: 13px;" class="btn btn-default ' + isActive(item.id) + '" id="idInterest' + item.id + '" data-id="' + item.id + '">' + item.name + '</button>');

                $("#interests").append(button);
            });
            $("#interests button[type=button]").click(function( event ) {
                    event.preventDefault();
                    var idInterest = $(this).data("id");
                    var checked = $(this).hasClass("active");
                    if (checked) {
                        $(this).removeClass("active");
                    } else {
                        $(this).addClass("active");
                    }
                    $.post("/updateInterest/" + idInterest + "/" + !checked, JSON.stringify({ "id": idInterest, "checked": !checked }));
                });
        });


        function isActive(idInterest) {
            var retVal = "";

            $.ajax({
                url: "/interest/" + idInterest,
                async: false,
                success: function(data) {
                    if (data == true) {
                        retVal = "active";
                    }
                }
            });

            return retVal;
        }

        //PRIVATE MESSAGES FUNCTIONS:
        $.getJSON( "/users", function( data ) {
            //create category buttons
            $.each(data, function(i, item) {
                addUserToList(item)
            });

            usersRefreshInterval = setInterval(updateUsersInterval, usersRefreshTime);
        });

        function updateUsersInterval() {
            $.getJSON( "/users/" + lastKnownUserId, function( data ) {
                //create category buttons
                $.each(data, function(i, item) {
                    addUserToList(item);
                });
            });
        }

        function addUserToList(item) {
            if (item.id != loggedUserId) {
                var option = $('<option value="' + item.id + '">' + item.firstName + " " + item.lastName + " <small>(" + item.username + ")</small>" + '</option>');
                $("#privateUsersList").append(option);
                lastKnownUserId = item.id;
            }
        }

        $( "#privateForm" ).submit(function( event ) {
            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var form = $( this );
            var content = form.find( "input[name='content']" ).val();
            var toUser = form.find( "select[name='toUser']" ).val();

            // Send the data using post
            $.post("/privateMessage", JSON.stringify({ "content": content, "toUser": toUser })).done(function() {
                $("#privateMessageText").val("");
            });
        });

        function addPrivateMessage(item) {
            var style = "odd";
            if (item.fromUser != loggedUserId) { style = "even"; }
            var time = new Date(item.time);
            time = Date.parse(time);
            var userLabel = getUserLabel1(item.fromUser, item.toUser);
            var message = $( "<li class="+style+"><b>"+ userLabel + "</b><l style='font-size: x-small;'> (" + time.toString("MMM dd, hh:mm:ss") + ")</l><br />" + item.content + "</li>" );
            $("#privateChat ul").append(message);
            currentPrivateMessageId = item.id;

            var wtf    = $('#privateChat');
            var height = wtf[0].scrollHeight;
            wtf.scrollTop(height);
        }

        function updatePrivateConversationInterval() {
            $.getJSON( "/privateMessages/" + currentPrivateMessageId, function( data ) {
                $.each( data, function( i, item ) {
                    addPrivateMessage(item);
                });
            });
        }
        privateRefreshInterval = setInterval(updatePrivateConversationInterval, chatRefreshTime);

        //PUBLIC MESSAGES FUNCTIONS:
        $.getJSON( "/categories", function( data ) {
            //create category buttons
            var checked = 'active';
            $.each(data, function(i, item) {
                var button = $('<button type="button" class="btn btn-default ' + checked + '" id="idCategory' + item.id + '" data-id="' + item.id + '">' + item.name + '</button>');
                $("#categories").append(button);
                checked = '';
            });

            //style buttons
            $( "#categories button[type=button]" )
                    .click(function( event ) {
                        event.preventDefault();
                        $( "#categories button[type=button]").removeClass("active");
                        $(this).addClass("active");
                        var categoryId = $(this).data("id");
                        selectedCategoryId = categoryId;
                        fillCategoryConversation(categoryId);
                    });

            fillCategoryConversation(data[0].id);
            selectedCategoryId = data[0].id;
            publicRefreshInterval = setInterval(updateCategoryConversationInterval, chatRefreshTime);
        });

        function fillCategoryConversation(categoryId) {
            $("#publicChat ul li").remove();

            $.getJSON( "/publicMessages/" + categoryId, function( data ) {
                $.each( data, function( i, item ) {
                    addPublicMessage(item);
                });
            });
        }

        function addPublicMessage(item) {
            var style = "odd";
            if (item.idUser != loggedUserId) { style = "even"; }
            var time = new Date(item.time);
            time = Date.parse(time);
            var userLabel = getUserLabel(item.idUser);
            var message = $( "<li class="+style+"><b>"+ userLabel + "</b><l style='font-size: x-small;'> (" + time.toString("MMM dd, hh:mm:ss") + ")</l><br />" + item.content + "</li>" );
            $("#publicChat ul").append(message);
            currentPublicMessageId = item.id;

            var wtf    = $('#publicChat');
            var height = wtf[0].scrollHeight;
            wtf.scrollTop(height);
        }

        function updateCategoryConversationInterval() {
            $.getJSON( "/publicMessages/" + selectedCategoryId + "/" + currentPublicMessageId, function( data ) {
                $.each( data, function( i, item ) {
                    addPublicMessage(item);
                });
            });
        }

        $( "#publicForm" ).submit(function( event ) {
            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var form = $( this );
            var content = form.find( "input[name='content']" ).val();

            // Send the data using post
            $.post("/publicMessage", JSON.stringify({ "content": content, "idCategory": selectedCategoryId })).done(function() {
                $("#publicMessageText").val("");
            });
        });


    });

</script>

</body>
</html>