<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>..:: Korea Summer School 2015 - Chat ::..</title>
    <script src="/js/jquery-1.11.3.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<link rel="stylesheet" href="/js/jquery-ui-1.11.4.custom/jquery-ui.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/datejs/date.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div id="wrapper" style="height: 100%;">
    <div id="header">
        <img src="/images/knu_logo.jpg" style="position: absolute; top: 5px; left: 10px; height: 80px;" />
        <div style="position: absolute; text-align: right; right: 100px; top: 10px;">
            <h1><small>Simple Chat - Summer School 2015</small></h1>
        </div>
        <div style="position: absolute; top: 80px; width: 100%;">
            <hr>
        </div>
    </div>

    <div id="content" style="position: relative; top: 150px; width: 800px; margin: auto;">
        <div id="formsHolder">
            <div style="width: 350px; position: relative;">
                <center><h1><small>Login</small></h1></center>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="loginUsername">Username</label>
                        <input class="form-control" type="text" name="username" id="loginUsername" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input class="form-control" type="password" name="password" id="loginPassword" placeholder="password" required>
                    </div>
                    <button class="btn btn-default" type="submit">Login</button>
                </form>
            </div>

            <div style="position: relative; top: -200px; left: 360px; width: 1px; height: 400px; background-color: #eee;"></div>

            <div style="  width: 350px; position: relative; top: -650px; left: 370px;">
                <center><h1><small>Register</small></h1></center>
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="registerFirstName">First name</label>
                        <input class="form-control" type="text" name="firstName" id="registerFirstName" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <label for="registerLastName">Last name</label>
                        <input class="form-control" type="text" name="lastName" id="registerLastName" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <label for="registerUsername">Username</label>
                        <input class="form-control" type="text" name="username" id="registerUsername" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input class="form-control" type="password" name="password" id="registerPassword" placeholder="password" required>
                    </div>
                    <button class="btn btn-default" type="submit">Register</button>
                </form>
            </div>
        </div>
        {{if msg}}{{{msg}}}
    </div>

    <div id="footer" style=" width:100%; height: 15px; position: absolute; bottom: 15px; left: 0px; z-index: 1000;">
        <div style="width: 100%; position: absolute; bottom: 0px;">
            <hr />
        </div>
        <div style="text-align: right; right: 25px;">
            <small><a href="http://zitnik.si">dr. Slavko Žitnik</a>, &copy; 2015 <a href="http://www.fri.uni-lj.si">University of Ljubljana, Faculty for computer and information science</a></small> <br />
        </div>
    </div>
</div>



</body>
</html>